.added-note{
    width: 280px;
    height: 350px;
    padding: 25px;
    border: 2px solid rgb(94, 93, 93);
    border-radius: 10px;
}
.added-note-title{
    font-size: 20px;
    font-weight: 500;
    color: white;
}
.added-note-text{
    font-size: 16px;
    color: white;
    margin-top: 20px;
}